.link-with-padding {
    padding-top: 20px;
    padding-bottom: 20px;
}
#header {
    background-color: gray;
}
#subheader {
    background-color: pink;
}
#main-content {
    background-color: green;
}
#sidebar {
    background-color: blue;
}
